@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-color: #25b18c;
  --pressed-color: #1c876b;
  --disable-color: #b3efdf;

  --tertiary-color: #3697f2;
  --tertiary-pressed-color: #0c64b6;
  --tertiary-disable-color: #c5e1fb;

  --toast-color: #ee7802;

  --radius: 0.5rem;
}

.rainbow-gradient {
  background: linear-gradient(
    120deg,
    hsl(0, 100%, 50%),
    hsl(30, 100%, 50%),
    hsl(60, 100%, 50%),
    hsl(90, 100%, 50%),
    hsl(120, 100%, 50%),
    hsl(150, 100%, 50%),
    hsl(180, 100%, 50%),
    hsl(210, 100%, 50%),
    hsl(240, 100%, 50%),
    hsl(270, 100%, 50%),
    hsl(300, 100%, 50%),
    hsl(330, 100%, 50%),
    hsl(0, 100%, 50%)
  );
}
